In [70]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
from flask import Flask

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import Flask, jsonify

In [71]:
engine = create_engine("sqlite:///../Resources/hawaii.sqlite", echo=False)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [72]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['measurement', 'station']

In [73]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [74]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [75]:
Base.classes.keys()

['measurement', 'station']

In [76]:
app = Flask(__name__)

## D1: Determine the Summary Statistics for June

In [85]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

In [87]:
# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
June=session.query(Measurement).filter(extract("month",Measurement.date)==6)

In [89]:
#  3. Convert the June temperatures to a list.
June_list=[temp.tobs for temp in June]

In [91]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
June_df=pd.DataFrame(June_list,columns=["June"])

In [92]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
@app.route("/api/v1.0/temp/<start>")
@app.route("/api/v1.0/temp/<start>/<end>")

def stats(start=None, end=None):
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]

    if not end:
        results = session.query(*sel).\
            filter(Measurement.date >= start).\
            filter(Measurement.date <= end).all()
        temps = list(np.ravel(results))
        return jsonify(temps)

    results = session.query(*sel).\
        filter(Measurement.date >= start).\
        filter(Measurement.date <= end).all()
    temps = list(np.ravel(results))
    return jsonify(temps=temps)

In [95]:
print(June_df)

      June
0     78.0
1     76.0
2     78.0
3     76.0
4     77.0
...    ...
1695  79.0
1696  74.0
1697  74.0
1698  76.0
1699  75.0

[1700 rows x 1 columns]

In [94]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
June_df.describe()

              June
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [96]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
Dec=session.query(Measurement).filter(extract("month",Measurement.date)==12)

In [98]:
# 7. Convert the December temperatures to a list.
Dec_list=[temp.tobs for temp in Dec]

In [99]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
Dec_df=pd.DataFrame(Dec_list,columns=["December"])

In [100]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
Dec_df.describe()

          December
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000